.container {
    max-width: 600px;
    background-color: chocolate;
    margin: 0 auto;
    padding: 10px;
}

.titulo {
    text-align: center;
    color: antiquewhite;
    font-size: 24px;
}

.form {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0 auto;

}
input {
    width: 60px;
    height: 34px;
}